<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node.js - <%= title %></title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<% include topPartial.ejs %>
<h1><%= title %></h1>
<h2><%= subtitle %></h2>
<p><%= text %></p>
</body>
</html>
